<!DOCTYPE html>
<html>
<head>
  <title>Jonathan - Network administrator Ghana</title>
  <link rel="stylesheet" href="/static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1>Jonathan Addoquaye</h1>
    <p>Network Administrator | Ghana</p>
  </header>

  <div class="hero">
    <h2>Welcome to my Portfolio</h2>
    <p>I design and build network.</p>
    
    <br><br>
    
    <!-- WhatsApp Button - Anyone can click and chat you -->
    <a href="https://wa.me/233597010211" style="background:#25D366;color:white;padding:15px 30px;text-decoration:none;border-radius:10px;font-weight:bold;">
      Chat me on WhatsApp
    </a>

    <br><br><br>

    <!-- Gmail Button -->
    <a href="mailto:addoquayejonathan36@gmail.com" style="background:#D44638;color:white;padding:15px 30px;text-decoration:none;border-radius:10px;font-weight:bold;">
      Email me: addoquayejonathan36@gmail.com
    </a>

  </div>
</body>
</html>
